.modal-login {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2000;
    top: 0;
    background-color: var(--white);
}

.modal-login__close {
    position: absolute;
    top: 5%;
    left: 5%;
}

.login {
    display: flex;
    flex-direction: column;
    width: clamp(30rem, 40rem, 90%);
    height: 40rem;
    margin: 0 auto;
    justify-content: center;
}

.login__title {
    margin-bottom: 4rem;
    font-size: 3rem;
}

.login__form {
    display: flex;
    flex-direction: column;
}

.login a {
    align-self: center;
    text-decoration: none;
}

.login a:hover {
    text-decoration: underline;
}

.login .login__button:hover {
    text-decoration: none;
}

.login__button {
    margin-top: 4rem;
}

.login p {
    color: var(--black);
    font-size: 1.5rem;
    font-family: var(--paragraphs);
    margin: 3rem 0;
    text-align: center;
}

/* Diseño de botón login */

.button {
    background-color: var(--white);
    color: var(--main-color);
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    font-size: 1.7rem;
    font-family: var(--buttons);
    cursor: pointer;
    text-decoration: none;
    transition: background-color .4s;
}

.button--blue {
    color: var(--white);
    background-color: var(--main-color);
}

.button--blue:hover {
    background-color: var(--main-darker-color);
}