.footer {
    background: rgb(34,34,34);
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    flex-wrap: wrap;
}

.footer div {
    margin: 4rem 3.5rem;
}

.footer h4 {
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem 0 4rem;
    font-family: var(--titles);
}

.footer ul {
    list-style: none;
    font-family: var(--paragraphs);
}

.footer__item {
    margin: 1.5rem 0;
}

.footer__link {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-family: var(--paragraphs);
}

.footer .icon {
    font-size: 3rem;
    transition: transform .5s;
}

.footer .icon:hover {
    transform: translateY(-5px);
}

.footer__social-networks {
    text-align: center;
}

.footer__social-networks ul {
    display: flex;
}

.footer__social-networks li {
    margin: 0 1rem;
}

.footer__programador {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__data-fiscal {
    width: 70px;
    margin-top: 3rem;
}