.multimedia {
    width: 100%;
}

.multimedia h3 {
    text-align: left;
}

.multimedia article {
    margin-bottom: 6rem;
}

.carga-imagen {
    display: flex;
    flex-direction: column;
    height: 35rem;
    justify-content: space-around;
}

.carga-material-360,
.carga-recorrido-360 {
    width: 100%;
    display: grid;
    grid-template-rows: 3rem 5rem 2rem 10rem 10rem;
    grid-template-columns: repeat(8, 10.7%);
    column-gap: 2%;
    row-gap: 2rem;
    align-items: center;
}

.carga-material-360 h3,
.carga-material-360 p,
.carga-material-360__subtitle,
.carga-recorrido-360 h3,
.carga-recorrido-360 p,
.carga-recorrido-360__subtitle {
    grid-column: 1/9;
}

.carga-material-360__subtitle {
    grid-row: 3/4;
    margin: 0;
}

.carga-material-360__turno {
    grid-row: 4/5;
    grid-column: 7/9;
}

.carga-material-360 a {
    grid-row: 5/6;
    grid-column: 7/9;
}