@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

.App {
  background: rgb(255,255,255);
  background: linear-gradient(360deg, rgba(255,255,255,1) 0%, rgba(183,193,255,1) 15%, rgba(183,193,255,1) 100%);
}


.App-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
}