.vista-previa p {
    margin: 3rem 0
}

.datos-contacto-card {
    width: 40rem;
    height: 20rem;
    display: flex;
    border: 2px solid var(--d-gray);
    border-radius: 20px;
    align-items: center;
    justify-content: space-evenly;
    margin: 4rem 0;
}

.datos-contacto-card__icon {
    width: 40%;
    height: 50%;
}

.datos-contacto-card a,
.datos-contacto-card img {
    display: none;
}