.list__container {
    display: flex;
    justify-content: center;
}

.container__wrapper {
    width: 100%;
    display: flex;
    gap: 20px;
}

.wrapper__search {
    flex: 1;
    background-color: #b7c1ff;
    padding: 10px;
    position: sticky;
}

.search__title {
    font-size: 20px;
    color: #777777;
    margin-bottom: 10px;
}

.search__item {
    display: block;
}

.item__title {
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0;
}

.item {
    display: flex;
}

.item__subtitle {
    font-size: 15px;
    margin-bottom: auto;
}

.wrapper__result {
    flex: 3;
}

.item__button {
    width: 100%;
    border-radius: 10px;
    font-size: 15px;
    margin: 10px 0;
}

.input__box {
    margin: 5px;
}