.container {
    justify-content: center;
    height: 100vh;
    width: 100vw!important;
    padding: 6rem 10rem;
}

.card {
    border-radius: 10px!important;
    transition: all 0.7s linear;
}

.card-body {
    background-color: #fff;
    border-radius: 10px!important;
}

.image-card {
    height: 20rem;
    margin-top: 3rem;
    justify-content: center;
    margin: auto;
    max-width: 80%;
    background-color: #fff;
    border-radius: 10px!important;
}

.card-title, .card-text {
    color: #000;
    background-color: #fff;
    cursor:default;
}

.card-title {
    font-weight: bold;
    font-size: 2rem;
}

.card:hover {
    box-shadow: 5px 10px 20px 1px rgb(77, 77, 77);
}

.card-body {
    padding: 2rem 0 !important;
}

.card-text {
    padding: 0.3rem 1rem;
    font-size: 1.8rem;
}

.overflow {
    overflow: hidden;
    border-radius: 10px!important;
}

.image-card {
    transition: all 0.2s;
    margin: 35px;
}

.image-card:hover {
    transform: scale(1.8);
}

.btn-secondary {
    margin-top: 50px;
    background-color: #263a7f;
    font-size: 2rem;
    transition: background-color .4s!important;
}

.btn-secondary:hover {
    background-color: #222d65!important;
}

.cayLvF:hover, .kcLFoD:hover {
    color: #fff;
}

.btn-primary {
    font-size: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}