.guides {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7.5rem 0;
    text-align: center;
}

.guides-card {
    display: flex;
    margin: 7.5rem 0;
}

.guides-card__img-container {
    width: 50rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 3px 3px 10px #000;
}

.guides-card__img-container--second {
    width: 50rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    left: 80rem;
    box-shadow: 3px 3px 10px #000;
}

.guides-card__img {
    width: 100%;
    height: 100%;
    transition: transform .5s;
}

.guides-card__img:hover {
    transform: scale(1.1);
}

.guides-card__text-container {
    position: relative;
    top: 7rem;
    left: -15rem;
    background-color: #263a7f;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80rem;
    height: 30rem;
    box-shadow: 3px 3px 10px #000;
}

.guides-card__text-container--second {
    position: relative;
    top: 7rem;
    left: -35rem;
    background-color: #263a7f;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80rem;
    height: 30rem;
    box-shadow: 3px 3px 10px #000;  
}

.guides-card__title {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.guides-card__text {
    font-size: 1.8rem;
    color: #fff;
}

#2.guides-card__img-container {
    left: 15rem!important;
}